:root {
  --primary--color: rgb(21, 21, 21);
  --secondary--color: rgb(75, 75, 75);
  --third--color: #2196f3;
  --fourth--color: #ffffff;
}

header {
  color: var(--primary--color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.,17;
  letter-spacing: 0,5PX;

}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary--color);
}

h1 {
  color: var(--primary--color);
}

footer {
  color: var( --fourth--color);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 3%;

}



h1 li {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 3%;
  list-style: none;

}


.container {
 max width: 1200px;
 border: solid black;

}

.card-set {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
flex-basis: calc((100% - 2 * 30px) / 3);
}

.footer-color {
  background-color: #2F303A;
}

a {
  color: #757575;
}

.nav1:hover,
.nav1:focus {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  border: 3px solid #2196f3;
  background-color: #2196f3;
  padding: 3;
}

.nav2:hover,
.nav2:focus {
  text-decoration: none;
  cursor: pointer;
  background-color: none;
  padding: 1;
  color: #2196f3;
}

.nav3:hover,
.nav3:focus {
  text-decoration: none;
  cursor: grab;
  background-color: darksalmon;
  padding: 1;
}

.title {
  font-weight: bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
  list-style: none;
}

.text {
  font-weight: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgb(75, 75, 75);
  line-height: 1.8;
  letter-spacing: 3%;
  list-style: none;
}

.logo {
  font-weight: bold;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
  line-height: 1.17;
  letter-spacing: 3%;
  font-family: "Raleway", sans-serif;
  

}
